@use 'sass:list';
@use 'common';

.left-name {
  background-color: var(--chip-base-color);
  margin: 0;
  line-height: 1;
  height: 100%;
  .text {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10cqw;
    background: var(--background);
    box-sizing: border-box;
    width: 100cqw;
    height: 100cqh;
    background-clip: text;
    color:transparent;
    pointer-events: none;
    .apple-logo {
      line-height: 1;
      font-size: 1.4em;
    }
    .chip-name {
      margin-left: -1cqw;
      font-size: 1.07em;
      font-weight: 600;
    }
  }
}

@include common.chip-component-grid {
  background-color: var(--chip-overlay);
}

.core-cpu-performance-a15 {
  display: grid;
  grid-template-columns: auto repeat(5, 2.3cqw) auto;
  grid-template-rows: 2.3cqw auto repeat(4, 2.3cqw);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(1, 8) 4,
    2 list.slash(1, 8) 5,
    3 list.slash(1, 8) 6,
    4 1 list.slash(1, 4),
    5 2 list.slash(1, 4),
    6 6 list.slash(1, 4),
    7 7 list.slash(1, 4),
    8 list.slash(3, 6) 1,
    9 list.slash(3, 6) 3
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-cpu-performance-m1 {
  display: grid;
  grid-template-columns: 20% repeat(5, auto) 20%;
  grid-template-rows: auto 7% 40% 7% auto;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(1, 8) 1,
    2 list.slash(1, 8) 5,
    3 1 list.slash(2, 5),
    4 7 list.slash(2, 5),
    5 2 list.slash(2, 5),
    6 6 list.slash(2, 5),
    7 list.slash(3, 6) 2,
    8 list.slash(3, 6) 4
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-cpu-performance-m2 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  grid-template-columns: 12% repeat(7, auto) 12%;
  grid-template-rows: repeat(2, 4%) 4% 2% auto 2% 4% repeat(2, 4%);
  .core-1 {
    grid-column: 1/10;
    grid-row: 1;
  }
  .core-2 {
    grid-column: 1/10;
    grid-row: 2;
  }
  .core-3 {
    grid-column: 1;
    grid-row: 3/8;
  }
  .core-4 {
    grid-column: 2;
    grid-row: 3/8;
  }
  .core-5 {
    grid-column: 3/8;
    grid-row: 3;
  }
  .core-6 {
    grid-column: 3/8;
    grid-row: 4;
  }
  .core-7 {
    grid-column: 8;
    grid-row: 3/8;
  }
  .core-8 {
    grid-column: 9;
    grid-row: 3/8;
  }
  .core-9 {
    grid-column: 3;
    grid-row: 5;
  }
  .core-10 {
    grid-column: 4;
    grid-row: 5;
  }
  .core-11 {
    grid-column: 5;
    grid-row: 5;
  }
  .core-12 {
    grid-column: 6;
    grid-row: 5;
  }
  .core-13 {
    grid-column: 7;
    grid-row: 5;
  }
  .core-14 {
    grid-column: 3/8;
    grid-row: 6;
  }
  .core-15 {
    grid-column: 3/8;
    grid-row: 7;
  }
  .core-16 {
    grid-column: 1/10;
    grid-row: 8;
  }
  .core-17 {
    grid-column: 1/10;
    grid-row: 9;
  }
}
.core-cpu-performance-m2-pro {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  grid-template-columns: 15% repeat(7, auto) 15%;
  grid-template-rows: repeat(2, 12%) auto repeat(2, 12%);
  .core-1 {
    grid-column: 1/10;
    grid-row: 1;
  }
  .core-2 {
    grid-column: 1/10;
    grid-row: 5;
  }
  .core-3 {
    grid-column: 1;
    grid-row: 2/5;
  }
  .core-4 {
    grid-column: 2;
    grid-row: 2/5;
  }
  .core-5 {
    grid-column: 8;
    grid-row: 2/5;
  }
  .core-6 {
    grid-column: 9;
    grid-row: 2/5;
  }
  .core-7 {
    grid-column: 3/8;
    grid-row: 2;
  }
  .core-8 {
    grid-column: 3/8;
    grid-row: 4;
  }
}

.core-cpu-efficiency-m1 {
  display: grid;
  grid-template-columns: 20% repeat(5, auto) 20%;
  grid-template-rows: auto 7% 25% 7% auto;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 1 list.slash(1, 6),
    2 7 list.slash(1, 6),
    3 list.slash(2, 7) 2,
    4 list.slash(2, 7) 3,
    5 list.slash(2, 7) 4
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-cpu-efficiency-m2 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: 32% 5% auto auto 5% 32%;
  grid-template-rows: repeat(2, auto) repeat(3, 7%) repeat(2, auto);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 1/4;
    grid-row: 1;
  }
  .core-2 {
    grid-column: 4/7;
    grid-row: 1;
  }
  .core-3 {
    grid-column: 1;
    grid-row: 1/3;
  }
  .core-4 {
    grid-column: 2;
    grid-row: 2;
  }
  .core-5 {
    grid-column: 3/5;
    grid-row: 2/7;
  }
  .core-6 {
    grid-column: 5;
    grid-row: 2;
  }
  .core-7 {
    grid-column: 6;
    grid-row: 1/3;
  }
  .core-8 {
    grid-column: 1;
    grid-row: 3;
  }
  .core-9 {
    grid-column: 2;
    grid-row: 3;
  }
  .core-10 {
    grid-column: 5;
    grid-row: 3;
  }
  .core-11 {
    grid-column: 6;
    grid-row: 3;
  }
  .core-12 {
    grid-column: 1;
    grid-row: 4;
  }
  .core-13 {
    grid-column: 2;
    grid-row: 4;
  }
  .core-14 {
    grid-column: 5;
    grid-row: 4;
  }
  .core-15 {
    grid-column: 6;
    grid-row: 4;
  }
  .core-16 {
    grid-column: 1;
    grid-row: 5;
  }
  .core-17 {
    grid-column: 2;
    grid-row: 5;
  }
  .core-18 {
    grid-column: 5;
    grid-row: 5;
  }
  .core-19 {
    grid-column: 6;
    grid-row: 5;
  }
  .core-20 {
    grid-column: 1;
    grid-row: 6/8;
  }
  .core-21 {
    grid-column: 2;
    grid-row: 6;
  }
  .core-22 {
    grid-column: 5;
    grid-row: 6;
  }
  .core-23 {
    grid-column: 6;
    grid-row: 6/8;
  }
  .core-24 {
    grid-column: 1/4;
    grid-row: 7;
  }
  .core-25 {
    grid-column: 4/7;
    grid-row: 7;
  }
}
.core-cpu-efficiency-m2-pro {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: 32% 4% auto auto 4% 32%;
  grid-template-rows: repeat(2, auto) repeat(3, 10%) repeat(2, auto);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 1/7;
    grid-row: 1;
  }
  .core-2 {
    grid-column: 1;
    grid-row: 1/3;
  }
  .core-3 {
    grid-column: 6;
    grid-row: 1/3;
  }
  .core-4 {
    grid-column: 1/7;
    grid-row: 7;
  }
  .core-5 {
    grid-column: 1;
    grid-row: 6/8;
  }
  .core-6 {
    grid-column: 6;
    grid-row: 6/8;
  }
  .core-7 {
    grid-column: 2;
    grid-row: 2/7;
  }
  .core-8 {
    grid-column: 5;
    grid-row: 2/7;
  }
  .core-9 {
    grid-column: 3/5;
    grid-row: 2/7;
  }
}

.core-cpu-efficiency-m3-max {
  display: grid;
  grid-template-columns: auto 2% 13% 2% 13% 2% auto;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(1, 8) 1,
    2 1 list.slash(1, 3),
    3 7 list.slash(1, 3),
    4 list.slash(1, 8) 7,
    5 1 list.slash(6, 8),
    6 7 list.slash(6, 8),
    7 2 list.slash(2, 7),
    8 3 list.slash(2, 7),
    9 4 list.slash(2, 7),
    10 5 list.slash(2, 7),
    11 6 list.slash(2, 7),
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-neural-m1 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    background-color: transparent;
  }
  $core-item-list:
    1 list.slash(2, 4) 2,
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--border-item-width);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
  }
}

.core-neural-m2-1 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .core-2 {
    grid-column: 2/4;
    grid-row: 1;
  }
  .core-3 {
    grid-column: 4;
    grid-row: 1;
  }
  .core-4 {
    grid-column: 1;
    grid-row: 2/7;
  }
  .core-5 {
    grid-column: 4;
    grid-row: 2/7;
  }
  .core-6 {
    grid-column: 1;
    grid-row: 7;
  }
  .core-7 {
    grid-column: 2/4;
    grid-row: 7;
  }
  .core-8 {
    grid-column: 4;
    grid-row: 7;
  }
}
.core-neural-m2-pro-1 {
  height: 100%;
  display: grid;
  grid-template-columns: 22% repeat(2, auto) 22%;
  grid-template-rows: 10% repeat(8, auto) 10%;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 2/4;
    grid-row: 1;
  }
  .core-2 {
    grid-column: 2/4;
    grid-row: 10;
  }
  .core-3 {
    grid-column: 1;
    grid-row: 2/10;
  }
  .core-4 {
    grid-column: 4;
    grid-row: 2/10;
  }
}

.core-neural-m3-1 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(2, 17%) auto;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 1 list.slash(1, 3),
    2 1 list.slash(3, 5),
    3 3 list.slash(1, 3),
    4 3 list.slash(3, 5)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-neural-m2-2 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: 12% 10% auto 10% 12%;
  grid-template-rows: 15% 10% repeat(4, auto) 10% 15%;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 1/6;
    grid-row: 1;
  }
  .core-2 {
    grid-column: 1/6;
    grid-row: 2;
  }
  .core-3 {
    grid-column: 1;
    grid-row: 3/7;
  }
  .core-4 {
    grid-column: 2;
    grid-row: 3/7;
  }
  .core-9 {
    grid-column: 4;
    grid-row: 3/7;
  }
  .core-10 {
    grid-column: 5;
    grid-row: 3/7;
  }
  .core-11 {
    grid-column: 1/6;
    grid-row: 7;
  }
  .core-12 {
    grid-column: 1/6;
    grid-row: 8;
  }
}
.core-neural-m2-pro-2 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: 12% 8% repeat(4, auto) 8% 12%;
  grid-template-rows: repeat(3, 1fr);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 1;
    grid-row: 1/4;
  }
  .core-2 {
    grid-column: 2;
    grid-row: 1/4;
  }
  .core-3 {
    grid-column: 7;
    grid-row: 1/4;
  }
  .core-4 {
    grid-column: 8;
    grid-row: 1/4;
  }
  .core-5 {
    grid-column: 3/7;
    grid-row: 1;
  }
  .core-6 {
    grid-column: 3/7;
    grid-row: 3;
  }
}

.core-neural-m3-2 {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(1, 6) 1,
    2 list.slash(1, 6) 6,
    3 1 list.slash(2, 6),
    4 5 list.slash(2, 6),
    5 3 list.slash(2, 4),
    6 3 list.slash(4, 6)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-neural-m3-pro-2 {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 13% 6% repeat(4, auto) 6% 13%;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(1, 4) 1,
    2 list.slash(1, 4) 2,
    3 list.slash(1, 4) 7,
    4 list.slash(1, 4) 8,
    5 1 list.slash(3, 7),
    6 3 list.slash(3, 7)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-bottom-m2-1, .core-bottom-m2-pro-1 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: 10% auto 10%;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 1/13;
    grid-row: 2;
    background-color: transparent;
    .core-mid {
      height: 100%;
      display: grid;
      grid-template-columns: 36% 4% auto 4% 36%;
      grid-template-rows: 13% 4% 8% auto 8% 4% 13%;
      gap: var(--border-item-width);
      > [class*="core-mid-"] {
        background-color: var(--chip-base-color);
      }
      .core-mid-1 {
        grid-column: 1/6;
        grid-row: 1;
      }
      .core-mid-2 {
        grid-column: 1/6;
        grid-row: 2;
      }
      .core-mid-3 {
        grid-column: 1;
        grid-row: 3/6;
      }
      .core-mid-4 {
        grid-column: 5;
        grid-row: 3/6;
      }
      .core-mid-5 {
        grid-column: 2;
        grid-row: 3/6;
      }
      .core-mid-6 {
        grid-column: 2/5;
        grid-row: 3;
      }
      .core-mid-7 {
        grid-column: 4;
        grid-row: 3/6;
      }
      .core-mid-8 {
        grid-column: 2/5;
        grid-row: 5;
      }
      .core-mid-9 {
        grid-column: 1/6;
        grid-row: 6;
      }
      .core-mid-10 {
        grid-column: 1/6;
        grid-row: 7;
      }
    }
  }
}
.core-bottom-m2-pro-1 {
  .core-1 {
    .core-mid {
      grid-template-columns: 35% 5% auto 5% 35%;
      grid-template-rows: 16% 7% 8% auto 8% 7% 16%;
      gap: var(--border-item-width);
    }
  }
}

.core-bottom-m2-2 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: auto repeat(3, 14%) auto;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 2;
    grid-row: 1/3;
  }
  .core-2 {
    grid-column: 2;
    grid-row: 3/5;
  }
  .core-3 {
    grid-column: 4;
    grid-row: 1/3;
  }
  .core-4 {
    grid-column: 4;
    grid-row: 3/5;
  }
  .core-5 {
    grid-column: 3;
    grid-row: 1/5;
  }
}

.core-bottom-m2-3 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: repeat(6, auto);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 1/7;
    grid-row: 1;
  }
  .core-2 {
    grid-column: 1/7;
    grid-row: 4;
  }
}

.core-gpu-m1 {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: auto repeat(4, 1%) 4.5% repeat(4, 1%) 4.5% repeat(4, 1%) auto;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(1, 4) 2,
    2 list.slash(1, 4) 3,
    3 list.slash(1, 4) 4,
    4 list.slash(1, 4) 5,
    5 1 list.slash(6, 12),
    6 3 list.slash(6, 12),
    7 list.slash(1, 4) 12,
    8 list.slash(1, 4) 13,
    9 list.slash(1, 4) 14,
    10 list.slash(1, 4) 15,
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}
.core-gpu-a15 {
  display: grid;
  grid-template-columns:repeat(2, 11%) auto repeat(2, 11%);
  grid-template-rows: auto repeat(4, 1%) 4.5% repeat(4, 1%) 4.5% repeat(4, 1%) auto;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(1, 6) 2,
    2 list.slash(1, 6) 3,
    3 list.slash(1, 6) 4,
    4 list.slash(1, 6) 5,
    5 list.slash(1, 3) list.slash(6, 12),
    6 list.slash(4, 6) list.slash(6, 12),
    7 list.slash(1, 6) 12,
    8 list.slash(1, 6) 13,
    9 list.slash(1, 6) 14,
    10 list.slash(1, 6) 15,
    11 list.slash(2, 5) 1,
    12 list.slash(2, 5) 16
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-gpu-m2 {
  height: 100%;
  display: grid;
  grid-template-columns: 17% repeat(2, auto) 17%;
  grid-template-rows: auto repeat(2, 2%) 12% 6% repeat(3, 2%) 6% 12% repeat(2, 2%) auto;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-2 {
    grid-column: 2/4;
    grid-row: 1;
  }
  .core-5 {
    grid-column: 2/4;
    grid-row: 2;
  }
  .core-8 {
    grid-column: 2/4;
    grid-row: 3;
  }
  .core-10 {
    grid-column: 1/3;
    grid-row: 4;
  }
  .core-11 {
    grid-column: 3/5;
    grid-row: 4;
  }
  .core-12 {
    grid-column: 1;
    grid-row: 4/11;
  }
  .core-13 {
    grid-column: 2/4;
    grid-row: 5;
  }
  .core-14 {
    grid-column: 2/4;
    grid-row: 6;
  }
  .core-15 {
    grid-column: 2/4;
    grid-row: 7;
  }
  .core-16 {
    grid-column: 2/4;
    grid-row: 8;
  }
  .core-17 {
    grid-column: 2/4;
    grid-row: 9;
  }
  .core-18 {
    grid-column: 4;
    grid-row: 4/11;
  }
  .core-19 {
    grid-column: 1/3;
    grid-row: 10;
  }
  .core-20 {
    grid-column: 3/5;
    grid-row: 10;
  }
  .core-22 {
    grid-column: 2/4;
    grid-row: 11;
  }
  .core-25 {
    grid-column: 2/4;
    grid-row: 12;
  }
  .core-28 {
    grid-column: 2/4;
    grid-row: 13;
  }
}
.core-gpu-m2-pro {
  display: grid;
  grid-template-columns: 19% auto 19%;
  grid-template-rows: auto repeat(2, 2%) 8% 7% repeat(2, 1%) 7% 8% repeat(2, 2%) auto;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 1/4;
    grid-row: 4;
  }
  .core-2 {
    grid-column: 1;
    grid-row: 4/10;
  }
  .core-3 {
    grid-column: 3;
    grid-row: 4/10;
  }
  .core-4 {
    grid-column: 1/4;
    grid-row: 9;
  }
}
.core-gpu-landscape-m2-pro {
  display: grid;
  grid-template-columns: auto repeat(2, 2%) 8% 7% repeat(2, 1%) 7% 8% repeat(2, 2%) auto;
  grid-template-rows: 17% auto 17%;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 4;
    grid-row: 1/4;
  }
  .core-2 {
    grid-column: 4/10;
    grid-row: 1;
  }
  .core-3 {
    grid-column: 4/10;
    grid-row: 3;
  }
  .core-4 {
    grid-column: 9;
    grid-row: 1/4;
  }
}

.core-gpu-m3 {
  display: grid;
  grid-template-columns: 16.5% 9% repeat(2, 3%) repeat(2, auto) repeat(2, 3%) 9% 16.5%;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 1 1,
    2 1 2,
    3 1 3,
    4 1 4,
    5 1 6,
    6 1 7,
    7 1 9,
    8 1 10,
    9 1 11,
    10 1 12,
    11 10 1,
    12 10 2,
    13 10 3,
    14 10 4,
    15 10 6,
    16 10 7,
    17 10 9,
    18 10 10,
    19 10 11,
    20 10 12,
    21 list.slash(2, 10) 1,
    22 list.slash(2, 10) 12,
    23 list.slash(2, 5) list.slash(2, 5),
    24 5 list.slash(2, 5),
    25 6 list.slash(2, 5),
    26 list.slash(7, 10) list.slash(2, 5),
    27 5 5,
    28 6 5,
    29 list.slash(2, 5) list.slash(6, 8),
    30 5 list.slash(6, 8),
    31 6 list.slash(6, 8),
    32 list.slash(7,10) list.slash(6,8),
    33 list.slash(2, 5) list.slash(9, 12),
    34 5 list.slash(9, 12),
    35 6 list.slash(9, 12),
    36 list.slash(7, 10) list.slash(9, 12),
    37 list.slash(1, 3) 5,
    38 list.slash(1, 3) 8,
    39 list.slash(9, 11) 5,
    40 list.slash(9, 11) 8
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-gpu-m3-pro-2 {
  display: grid;
  grid-template-columns: 15% 19% 5% auto 5% 19% 15%;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 4 list.slash(2, 7),
    2 list.slash(1, 8) 1,
    3 list.slash(1, 8) 7,
    4 1 list.slash(2, 7),
    5 3 list.slash(2, 7),
    6 5 list.slash(2, 7),
    7 7 list.slash(2, 7)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-media-a15-1 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 8% repeat(14, 2%) repeat(4, auto);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    background-color: transparent;
  }
  $core-item-list:
    1 list.slash(1, 3) 1,
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-side {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(43, 1fr);
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      background-color: var(--chip-base-color);
    }
  }
}

.core-media-m2-1 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: 12% 8% 12% auto 12% 8% 12%;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 1;
    grid-row: 1/4;
  }
  .core-2 {
    grid-column: 1;
    grid-row: 4/7;
  }
  .core-3 {
    grid-column: 7;
    grid-row: 1/4;
  }
  .core-4 {
    grid-column: 7;
    grid-row: 4/7;
  }
  .core-5 {
    grid-column: 2/4;
    grid-row: 3/5;
  }
  .core-5 {
    grid-column: 2/4;
    grid-row: 3/5;
  }
  .core-6 {
    background: transparent;
    grid-column: 4;
    grid-row: 3/5;
    .core-mid {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: var(--border-item-width);
      > [class*="core-mid-"] {
        flex: 1;
        background-color: var(--chip-base-color);
      }
    }
  }
  .core-7 {
    grid-column: 5/7;
    grid-row: 3/5;
  }
}
.core-media-m2-pro-1 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: 15% 9% repeat(8, auto) 9% 15%;
  grid-template-rows: repeat(3, auto) 25% repeat(3, auto);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    grid-column: 1/7;
    grid-row: 1;
  }
  .core-2 {
    grid-column: 7/13;
    grid-row: 1;
  }
  .core-3 {
    grid-column: 1/7;
    grid-row: 7;
  }
  .core-4 {
    grid-column: 7/13;
    grid-row: 7;
  }
  .core-5 {
    grid-column: 3/11;
    grid-row: 2/4;
  }
  .core-6 {
    grid-column: 3/11;
    grid-row: 5/7;
  }
}
.core-media-m3-pro-1 {
  height: 100%;
  display: grid;
  grid-template-columns: 5% auto 13% repeat(2, 6%) 13% auto 5%;
  grid-template-rows: repeat(2, 8%) repeat(4, auto) repeat(2, 8%);
  gap: var(--border-item-width);
  height: 100%;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 1 list.slash(1, 9),
    2 8 list.slash(1, 9),
    3 list.slash(2, 5) 1,
    4 list.slash(5, 8) 1,
    5 list.slash(2, 5) 8,
    6 list.slash(5, 8) 8,
    7 2 list.slash(3, 7),
    8 7 list.slash(3, 7),
    9 list.slash(3, 7) 2,
    10 3 list.slash(2, 4),
    11 6 list.slash(2, 4),
    12 list.slash(3, 7) 7,
    13 3 list.slash(6, 8),
    14 6 list.slash(6, 8),
    15 3 list.slash(4, 6),
    16 6 list.slash(4, 6),
    17 4 list.slash(3, 5),
    18 5 list.slash(3, 5),
    19 4 list.slash(5, 7),
    20 5 list.slash(5, 7)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}
.core-media-m3-max-1 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: 6% auto 6%;
  grid-template-rows: 15% auto 15%;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1, .core-2, .core-3 {
    background-color: transparent;
  }
  $core-item-list:
    1 2 2,
    2 2 1,
    3 2 3,
    4 1 list.slash(1, 4),
    5 3 list.slash(1, 4)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-side {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      flex: 1;
      background-color: var(--chip-base-color);
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: 20% 15% auto 15% 20%;
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    $core-mid-item-list:
      1 1 list.slash(2, 8),
      2 5 list.slash(2, 8),
      3 list.slash(2, 5) 1,
      4 2 list.slash(1, 3),
      5 4 list.slash(1, 3),
      6 list.slash(2, 5) 8,
      7 2 list.slash(7, 9),
      8 4 list.slash(7, 9),
      9 3 list.slash(2, 8),
    ;
    @each $item-order, $column, $row in $core-mid-item-list {
      .core-mid-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}

.core-media-a15-2 {
  height: 100%;
  display: grid;
  grid-template-columns: auto 32%;
  grid-template-rows: 6% repeat(27, auto);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
}

.core-media-m2-2 {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--border-item-width);
  height: 100%;
  > [class*="core-"] {
    flex: 1;
  }
  .core-side {
    height: 100%;
    display: flex;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      flex: 1;
      background-color: var(--chip-base-color);
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: repeat(2, 17%) auto repeat(2, 17%);
    grid-template-rows: repeat(2, auto) repeat(2, 5%) repeat(2, auto);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    .core-mid-1 {
      grid-column: 1;
      grid-row: 1/7;
    }
    .core-mid-2 {
      grid-column: 2/5;
      grid-row: 1;
    }
    .core-mid-3 {
      grid-column: 2/5;
      grid-row: 6;
    }
    .core-mid-4 {
      grid-column: 5;
      grid-row: 1/7;
    }
    .core-mid-5 {
      grid-column: 1/3;
      grid-row: 2/6;
    }
    .core-mid-6 {
      grid-column: 4/6;
      grid-row: 2/6;
    }
  }
}
.core-media-m2-pro-2 {
  height: 100%;
  display: grid;
  grid-template-columns: auto 45% auto;
  gap: var(--border-item-width);
  height: 100%;
  > [class*="core-"] {
    flex: 1;
  }
  .core-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      flex: 1;
      background-color: var(--chip-base-color);
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: repeat(2, auto) repeat(2, 5%) repeat(2, auto);
    grid-template-rows: repeat(2, 17%) auto repeat(2, 17%);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    .core-mid-1 {
      grid-column: 1/7;
      grid-row: 1;
    }
    .core-mid-2 {
      grid-column: 1;
      grid-row: 2/5;
    }
    .core-mid-3 {
      grid-column: 6;
      grid-row: 2/5;
    }
    .core-mid-4 {
      grid-column: 1/7;
      grid-row: 5;
    }
    .core-mid-5 {
      grid-column: 2/6;
      grid-row: 1/3;
    }
    .core-mid-6 {
      grid-column: 2/6;
      grid-row: 4/6;
    }
  }
}
.core-media-m3-2 {
  height: 100%;
  display: grid;
  grid-template-columns: auto 30% auto;
  gap: var(--border-item-width);
  height: 100%;
  > [class*="core-"] {
    flex: 1;
  }
  .core-side {
    height: 100%;
    display: grid;
    grid-template-rows: 13% repeat(3, 6%) auto repeat(3, 6%) 13%;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      background-color: var(--chip-base-color);
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: repeat(2, auto) 10% repeat(2, auto);
    grid-template-rows: 20% 15% auto 15% 20%;
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    $core-mid-item-list:
      1 list.slash(1, 6) 1,
      2 1 list.slash(2, 5),
      3 5 list.slash(2, 5),
      4 list.slash(1, 6) 5,
      5 list.slash(2, 5) list.slash(1, 3),
      6 list.slash(2, 5) list.slash(4, 6)
    ;
    @each $item-order, $column, $row in $core-mid-item-list {
      .core-mid-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}
.core-media-m3-pro-2 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: repeat(12, 1fr);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    background-color: transparent;
  }
  $core-item-list:
    1 list.slash(2, 12) 2,
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: repeat(2, 17%) auto repeat(2, 17%);
    grid-template-rows: repeat(2, auto) repeat(2, 5%) repeat(2, auto);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    $core-mid-item-list:
      1 1 list.slash(1, 7),
      2 list.slash(2, 5) 1,
      3 list.slash(2, 5) 6,
      4 5 list.slash(1, 7),
      5 list.slash(1, 3) list.slash(2, 6),
      6 list.slash(4, 6) list.slash(2, 6)
    ;
    @each $item-order, $column, $row in $core-mid-item-list {
      .core-mid-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}
.core-media-m3-max-2 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto 10% repeat(4, 2%) 10% auto;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    background-color: transparent;
  }
  $core-item-list:
    1 list.slash(2, 10) list.slash(2, 8),
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: repeat(2, 12%) auto repeat(2, 12%);
    grid-template-rows: repeat(2, auto) repeat(2, 5%) repeat(2, auto);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    $core-mid-item-list:
      1 1 list.slash(1, 7),
      2 list.slash(2, 5) 1,
      3 list.slash(2, 5) 6,
      4 5 list.slash(1, 7),
      5 list.slash(1, 3) list.slash(2, 6),
      6 list.slash(4, 6) list.slash(2, 6)
    ;
    @each $item-order, $column, $row in $core-mid-item-list {
      .core-mid-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}

.core-media-m2-3 {
  height: 100%;
  flex: 1;
  display: grid;
  gap: var(--border-item-width);
  height: 100%;
  grid-template-columns: 18% auto 18%;
  grid-template-rows: 3% auto 3%;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-2, .core-3 {
    background-color: transparent;
  }
  .core-1 {
    grid-column: 1/4;
    grid-row: 1;
  }
  .core-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .core-3 {
    grid-column: 3;
    grid-row: 2;
  }
  .core-4 {
    grid-column: 1/4;
    grid-row: 3;
  }
  .core-5 {
    background-color: transparent;
    grid-column: 2;
    grid-row: 2;
  }
  .core-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      flex: 1;
      background-color: var(--chip-base-color);
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: repeat(2, 12%) repeat(6, auto) repeat(2, 12%);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    .core-mid-2 {
      grid-column: 2/10;
      grid-row: 1;
    }
    .core-mid-3 {
      grid-column: 2/10;
      grid-row: 5;
    }
    .core-mid-4 {
      grid-column: 1/3;
      grid-row: 2;
    }
    .core-mid-5 {
      grid-column: 9/11;
      grid-row: 2;
    }
    .core-mid-6 {
      grid-column: 1/3;
      grid-row: 4;
    }
    .core-mid-7 {
      grid-column: 9/11;
      grid-row: 4;
    }
    .core-mid-8 {
      grid-column: 1;
      grid-row: 2/5;
    }
    .core-mid-9 {
      grid-column: 10;
      grid-row: 2/5;
    }
    .core-mid-10 {
      grid-column: 2/10;
      grid-row: 3;
    }
  }
}
.core-media-m2-pro-3 {
  height: 100%;
  flex: 1;
  display: grid;
  gap: var(--border-item-width);
  height: 100%;
  grid-template-columns: 4% auto 4%;
  grid-template-rows: 27% auto 27%;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-2, .core-3 {
    background-color: transparent;
  }
  .core-1 {
    grid-column: 1;
    grid-row: 1/4;
  }
  .core-2 {
    grid-column: 2;
    grid-row: 1;
  }
  .core-3 {
    grid-column: 2;
    grid-row: 3;
  }
  .core-4 {
    grid-column: 3;
    grid-row: 1/4;
  }
  .core-5 {
    background-color: transparent;
    grid-column: 2;
    grid-row: 2;
  }
  .core-side {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      flex: 1;
      background-color: var(--chip-base-color);
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-rows: repeat(2, 12%) repeat(6, auto) repeat(2, 12%);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    .core-mid-2 {
      grid-column: 1;
      grid-row: 2/10;
    }
    .core-mid-3 {
      grid-column: 5;
      grid-row: 2/10;
    }
    .core-mid-4 {
      grid-column: 2;
      grid-row: 1/3;
    }
    .core-mid-5 {
      grid-column: 2;
      grid-row: 9/11;
    }
    .core-mid-6 {
      grid-column: 4;
      grid-row: 1/3;
    }
    .core-mid-7 {
      grid-column: 4;
      grid-row: 9/11;
    }
    .core-mid-8 {
      grid-column: 2/5;
      grid-row: 1;
    }
    .core-mid-9 {
      grid-column: 2/5;
      grid-row: 10;
    }
    .core-mid-10 {
      grid-column: 3;
      grid-row: 2/10;
    }
  }
}
.core-media-m3-pro-3 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: auto repeat(8, 5%) auto;
  grid-template-rows: 8% repeat(2, 11%) auto repeat(2, 11%) 8%;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1, .core-2, .core-3, .core-4 {
    background-color: transparent;
  }
  $core-item-list:
    1 list.slash(1, 3) list.slash(2, 4),
    2 list.slash(9, 11) list.slash(2, 4),
    3 list.slash(1, 3) list.slash(5, 7),
    4 list.slash(9, 11) list.slash(5, 7),
    5 list.slash(1, 6) 1,
    6 list.slash(6, 11) 1,
    7 list.slash(1, 6) 7,
    8 list.slash(6, 11) 7,
    9 list.slash(4, 8) list.slash(2, 4),
    10 list.slash(4, 8) list.slash(5, 7)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-side {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      background-color: var(--chip-base-color);
    }
  }
}
.core-media-m3-max-3 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: auto 6% repeat(2, auto) 6% auto;
  grid-template-rows: repeat(3, 11%) auto repeat(3, 11%);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    background-color: transparent;
  }
  $core-item-list:
    1 list.slash(2, 6) 4,
    2 list.slash(1, 4) 1,
    3 list.slash(4, 7) 1,
    4 list.slash(1, 4) 7,
    5 list.slash(4, 7) 7,
    6 list.slash(3, 5) list.slash(2, 4),
    7 list.slash(3, 5) list.slash(5, 7)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: 23% repeat(5, auto) 23%;
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
  }
}

.core-media-m3-3 {
  height: 100%;
  display: grid;
  grid-template-columns: 5% auto 5%;
  gap: var(--border-item-width);
  height: 100%;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1, .core-2, .core-3 {
    background-color: transparent;
  }
  $core-item-list:
    1 2 list.slash(2, 4),
    2 list.slash(1, 4) 1,
    3 list.slash(1, 4) 4,
    4 1 list.slash(1, 3),
    5 3 list.slash(1, 3),
    6 1 list.slash(3, 5),
    7 3 list.slash(3, 5)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-side {
    height: 100%;
    display: grid;
    grid-template-columns: 13% repeat(3, 7%) auto repeat(3, 7%) 13%;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      background-color: var(--chip-base-color);
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: 21% 18% auto 18% 21%;
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    $core-mid-item-list:
      1 1 list.slash(2, 7),
      2 5 list.slash(2, 7),
      3 list.slash(2, 5) 1,
      4 list.slash(2, 5) 7,
      5 2 list.slash(1, 3),
      6 4 list.slash(1, 3),
      7 2 list.slash(6, 8),
      8 4 list.slash(6, 8),
      9 3 list.slash(2, 7),
    ;
    @each $item-order, $column, $row in $core-mid-item-list {
      .core-mid-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
    .core-mid-9 {
      background-color: transparent;
      .core-split {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--border-item-width);
        .split-item {
          background-color: var(--chip-base-color);
          flex: 1;
        }
      }
    }
  }
}

.core-media-m3-4 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 19.5%) repeat(2, auto) repeat(2, 19.5%);
  grid-template-rows: repeat(2, 10%) auto repeat(2, 10%);
  gap: var(--border-item-width);
  height: 100%;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    background-color: transparent;
  }
  $core-item-list:
    1 list.slash(1, 7) 3,
    2 list.slash(1, 4) 2,
    3 list.slash(4, 7) 2,
    4 list.slash(1, 4) 4,
    5 list.slash(4, 7) 4,
    6 list.slash(3, 5) 1,
    7 list.slash(3, 5) 5
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: 6% auto repeat(8, 6%) auto 6%;
    grid-template-rows: repeat(2, auto) repeat(2, 25%) repeat(2, auto);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    $core-mid-item-list:
      1 1 list.slash(1, 4),
      2 1 list.slash(4, 7),
      3 12 list.slash(1, 4),
      4 12 list.slash(4, 7),
      5 list.slash(2, 5) 1,
      6 list.slash(2, 4) list.slash(1, 3),
      7 list.slash(2, 4) list.slash(5, 7),
      8 list.slash(2, 5) 6,
      9 list.slash(9, 12) 1,
      10 list.slash(10, 12) list.slash(1, 3),
      11 list.slash(10, 12) list.slash(5, 7),
      12 list.slash(9, 12) 6,
      13 3 list.slash(3, 5),
      14 10 list.slash(3, 5),
      15 4 list.slash(2, 6),
      16 9 list.slash(2, 6),
      17 5 list.slash(1, 7),
      18 8 list.slash(1, 7),
      19 6 list.slash(1, 7),
      20 7 list.slash(1, 7)
    ;
    @each $item-order, $column, $row in $core-mid-item-list {
      .core-mid-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}
.core-media-m3-pro-4 {
  height: 100%;
  display: grid;
  grid-template-columns: 8% repeat(2, auto) 8%;
  grid-template-rows: repeat(2, 8%) repeat(2, auto) repeat(2, 8%);
  gap: var(--border-item-width);
  height: 100%;
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    background-color: transparent;
  }
  $core-item-list:
    1 list.slash(2, 4) list.slash(3, 5),
    2 list.slash(1, 3) 1,
    3 list.slash(3, 5) 1,
    4 list.slash(1, 3) 2,
    5 list.slash(3, 5) 2,
    6 list.slash(1, 3) 5,
    7 list.slash(3, 5) 5,
    8 list.slash(1, 3) 6,
    9 list.slash(3, 5) 6,
    10 1 list.slash(2, 4),
    11 4 list.slash(2, 4),
    12 1 list.slash(4, 6),
    13 4 list.slash(4, 6)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: auto repeat(8, 8%) auto;
    grid-template-rows: repeat(2, auto) repeat(2, 25%) repeat(2, auto);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    $core-mid-item-list:
      1 1 list.slash(3, 5),
      2 10 list.slash(3, 5),
      5 list.slash(1, 4) 1,
      6 list.slash(1, 3) list.slash(1, 3),
      7 list.slash(1, 3) list.slash(5, 7),
      8 list.slash(1, 4) 6,
      9 list.slash(8, 11) 1,
      10 list.slash(9, 11) list.slash(1, 3),
      11 list.slash(9, 11) list.slash(5, 7),
      12 list.slash(8, 11) 6,
      13 2 3,
      3 2 4,
      14 9 3,
      4 9 4,
      15 3 list.slash(2, 6),
      16 8 list.slash(2, 6),
      17 4 list.slash(1, 7),
      18 7 list.slash(1, 7),
      19 5 list.slash(1, 7),
      20 6 list.slash(1, 7)
    ;
    @each $item-order, $column, $row in $core-mid-item-list {
      .core-mid-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}
.core-media-m3-max-4 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: repeat(14, 1fr);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(1, 7) 1,
    2 1 list.slash(1, 3),
    3 list.slash(9, 15) 1,
    4 14 list.slash(1, 3),
    5 list.slash(1, 7) 12,
    6 1 list.slash(11, 13),
    7 list.slash(9, 15) 12,
    8 14 list.slash(11, 13),
    9 7 list.slash(1, 3),
    10 8 list.slash(1, 3),
    11 7 list.slash(11, 13),
    12 8 list.slash(11, 13),
    13 1 list.slash(3, 11),
    14 14 list.slash(3, 11),
    15 2 list.slash(2, 12),
    16 3 list.slash(2, 12),
    17 4 list.slash(2, 12),
    18 5 list.slash(2, 12),
    19 6 list.slash(2, 12),
    20 9 list.slash(2, 12),
    21 10 list.slash(2, 12),
    22 11 list.slash(2, 12),
    23 12 list.slash(2, 12),
    24 13 list.slash(2, 12),
    25 list.slash(7, 9) 3,
    26 list.slash(7, 9) 4,
    27 list.slash(7, 9) 5,
    28 list.slash(7, 9) 6,
    29 list.slash(7, 9) 7,
    30 list.slash(7, 9) 8,
    31 list.slash(7, 9) 9,
    32 list.slash(7, 9) 10,
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: 23% repeat(5, auto) 23%;
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
  }
}

.core-secure-enclave-m1-1 {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 11% auto 11% 20%;
  grid-template-rows: repeat(2, 14%) repeat(3, auto) 14% repeat(3, auto) repeat(2, 14%);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1, .core-2, .core-3 {
    background-color: transparent;
  }
  $core-item-list:
    1 2 list.slash(3, 10),
    2 3 list.slash(3, 10),
    3 4 list.slash(3, 10),
    4 list.slash(1, 6) 1,
    5 list.slash(1, 6) 2,
    6 list.slash(1, 6) 10,
    7 list.slash(1, 6) 11,
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-side {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      background-color: var(--chip-base-color);
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: var(--border-item-width);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    $core-mid-item-list:
      1 list.slash(1, 19) 1,
      2 list.slash(1, 19) 3,
      3 list.slash(1, 19) 5,
    ;
    @each $item-order, $column, $row in $core-mid-item-list {
      .core-mid-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}

.core-secure-enclave-m1-2 {
  height: 100%;
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-rows: 3% 10% auto;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1, .core-2, .core-3 {
    background-color: transparent;
  }
  $core-item-list:
    1 1 2,
    2 1 3,
    3 2 3,
    4 list.slash(1, 3)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-side-top {
    height: 100%;
    display: flex;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      flex: 1;
      background-color: var(--chip-base-color);
    }
  }
  .core-side-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      flex: 1;
      background-color: var(--chip-base-color);
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    grid-template-columns: auto 7% repeat(2, auto) 7% auto;
    grid-template-rows: auto repeat(3, 8%) auto;
    gap: var(--border-item-width);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    $core-mid-item-list:
      1 2 list.slash(1, 6),
      2 5 list.slash(1, 6),
      3 3 list.slash(1, 3),
      4 4 list.slash(1, 3),
      5 list.slash(3, 5) 3,
      6 3 list.slash(4, 6),
      7 4 list.slash(4, 6),
    ;
    @each $item-order, $column, $row in $core-mid-item-list {
      .core-mid-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}

.core-secure-enclave-m1-3 {
  height: 100%;
  display: grid;
  grid-template-columns: 4% 12% 4% auto 4% 12% 4%;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1, .core-2, .core-3 {
    background-color: transparent;
  }
  $core-item-list:
    1 1 list.slash(1, 6),
    2 4 3,
    3 7 list.slash(1, 6),
    4 2 list.slash(1, 6),
    5 3 list.slash(1, 6),
    6 5 list.slash(1, 6),
    7 6 list.slash(1, 6),
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-side {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      background-color: var(--chip-base-color);
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    grid-template-columns: auto repeat(9, 6%) auto;
    gap: var(--border-item-width);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
    $core-mid-item-list:
      1 1 list.slash(1, 6),
      2 2 list.slash(1, 6),
      3 3 list.slash(1, 6),
      4 4 list.slash(1, 6),
      5 6 list.slash(1, 6),
      6 8 list.slash(1, 6),
      7 9 list.slash(1, 6),
      8 10 list.slash(1, 6),
      9 11 list.slash(1, 6)
    ;
    @each $item-order, $column, $row in $core-mid-item-list {
      .core-mid-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}

.core-secure-enclave-m1-4 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 10%) 21% auto 21% repeat(2, 10%);
  grid-template-rows: repeat(2, auto) repeat(2, 9%) repeat(2, auto);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1, .core-2 {
    background-color: transparent;
  }
  $core-item-list:
    1 list.slash(3, 6) 1,
    2 list.slash(3, 6) 6,
    3 1 list.slash(1, 7),
    4 2 list.slash(1, 7),
    5 6 list.slash(1, 7),
    6 7 list.slash(1, 7),
    7 list.slash(3, 6) 2,
    8 list.slash(3, 6) 5,
    9 4 list.slash(3, 5)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-side {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      background-color: var(--chip-base-color);
    }
  }
}

.core-secure-enclave-m1-5 {
  height: 100%;
  display: grid;
  grid-template-columns: 30% repeat(3, auto) 30%;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    background-color: transparent;
  }
  $core-item-list:
    1 5 list.slash(1, 4),
    2 1 list.slash(1, 4),
    3 list.slash(2, 5) 1,
    4 list.slash(2, 5) 3
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-side {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      background-color: var(--chip-base-color);
    }
  }
}

.core-secure-enclave-m1-6 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 20% repeat(5, auto) 20%;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(1, 4) 1,
    2 list.slash(1, 4) 7,
    3 1 list.slash(2, 7),
    4 3 list.slash(2, 7)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-secure-enclave-m1-7 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 5%) auto repeat(4, 5%);
  grid-template-rows: 30% repeat(2, auto) 30%;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(1, 10) 1,
    2 list.slash(1, 10) 4,
    3 1 list.slash(2, 4),
    4 2 list.slash(2, 4),
    5 3 list.slash(2, 4),
    6 4 list.slash(2, 4),
    7 6 list.slash(2, 4),
    8 7 list.slash(2, 4),
    9 8 list.slash(2, 4),
    10 9 list.slash(2, 4),
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
}

.core-secure-enclave-m2 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: repeat(3, 11%) auto  repeat(3, 11%);
  grid-template-rows: repeat(2, 10%) 7% auto 7% repeat(2, 10%);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-rows: repeat(4, 5%) auto repeat(4, 5%);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
  }
  .core-1 {
    grid-column: 4;
    grid-row: 3/6;
    background-color: transparent;
  }
  .core-2 {
    grid-column: 3/6;
    grid-row: 1;
  }
  .core-3 {
    grid-column: 3/6;
    grid-row: 2;
  }
  .core-4 {
    grid-column: 3;
    grid-row: 3/6;
  }
  .core-5 {
    grid-column: 5;
    grid-row: 3/6;
  }
  .core-6 {
    grid-column: 3/6;
    grid-row: 6;
  }
  .core-7 {
    grid-column: 3/6;
    grid-row: 7;
  }
  .core-8 {
    grid-column: 1/3;
    grid-row: 1;
  }
  .core-9 {
    grid-column: 1/3;
    grid-row: 2;
  }
  .core-10 {
    grid-column: 1/3;
    grid-row: 3;
  }
  .core-11 {
    grid-column: 6/8;
    grid-row: 1;
  }
  .core-12 {
    grid-column: 6/8;
    grid-row: 2;
  }
  .core-13 {
    grid-column: 6/8;
    grid-row: 3;
  }
  .core-14 {
    grid-column: 1/3;
    grid-row: 5;
  }
  .core-15 {
    grid-column: 1/3;
    grid-row: 6;
  }
  .core-16 {
    grid-column: 1/3;
    grid-row: 7;
  }
  .core-17 {
    grid-column: 6/8;
    grid-row: 5;
  }
  .core-18 {
    grid-column: 6/8;
    grid-row: 6;
  }
  .core-19 {
    grid-column: 6/8;
    grid-row: 7;
  }
}
.core-secure-enclave-m2-pro {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: repeat(2, 10%) 7% auto 7% repeat(2, 10%);
  grid-template-rows: repeat(3, 11%) auto  repeat(3, 11%);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: repeat(4, 6%) auto repeat(4, 6%);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
  }
  .core-1 {
    grid-column: 3/6;
    grid-row: 4;
    background-color: transparent;
  }
  .core-2 {
    grid-column: 1;
    grid-row: 3/6;
  }
  .core-3 {
    grid-column: 2;
    grid-row: 3/6;
  }
  .core-4 {
    grid-column: 3/6;
    grid-row: 3;
  }
  .core-5 {
    grid-column: 3/6;
    grid-row: 5;
  }
  .core-6 {
    grid-column: 6;
    grid-row: 3/6;
  }
  .core-7 {
    grid-column: 7;
    grid-row: 3/6;
  }
  .core-8 {
    grid-column: 1;
    grid-row: 1/3;
  }
  .core-9 {
    grid-column: 2;
    grid-row: 1/3;
  }
  .core-10 {
    grid-column: 3;
    grid-row: 1/3;
  }
  .core-11 {
    grid-column: 1;
    grid-row: 6/8;
  }
  .core-12 {
    grid-column: 2;
    grid-row: 6/8;
  }
  .core-13 {
    grid-column: 3;
    grid-row: 6/8;
  }
  .core-14 {
    grid-column: 5;
    grid-row: 1/3;
  }
  .core-15 {
    grid-column: 6;
    grid-row: 1/3;
  }
  .core-16 {
    grid-column: 7;
    grid-row: 1/3;
  }
  .core-17 {
    grid-column: 5;
    grid-row: 6/8;
  }
  .core-18 {
    grid-column: 6;
    grid-row: 6/8;
  }
  .core-19 {
    grid-column: 7;
    grid-row: 6/8;
  }
}

.core-secure-enclave-m3 {
  height: 100%;
  display: grid;
  gap: var(--border-item-width);
  grid-template-columns: 16.5% 8% 7% auto 7% 8% 16.5%;
  grid-template-rows: repeat(2, 7%) 11% auto 11% repeat(2, 7%);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(3, 6) 4,
    2 1 list.slash(3, 6),
    3 2 list.slash(3, 6),
    4 list.slash(3, 6) 3,
    5 list.slash(3, 6) 5,
    6 6 list.slash(3, 6),
    7 7 list.slash(3, 6),
    8 1 list.slash(1, 3),
    9 2 list.slash(1, 3),
    10 3 list.slash(1, 3),
    11 1 list.slash(6, 8),
    12 2 list.slash(6, 8),
    13 3 list.slash(6, 8),
    14 5 list.slash(1, 3),
    15 6 list.slash(1, 3),
    16 7 list.slash(1, 3),
    17 5 list.slash(6, 8),
    18 6 list.slash(6, 8),
    19 7 list.slash(6, 8)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-columns: repeat(4, 6%) auto repeat(4, 6%);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
  }
  .core-side {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      background-color: var(--chip-base-color);
    }
  }
  .core-1, .core-3, .core-6 {
    background-color: transparent;
  }
}

.core-secure-enclave-m3-pro {
  height: 100%;
  display: grid;
  grid-template-columns: 14% repeat(2, 6.5%) 14% auto 14% repeat(2, 6.5%) 14%;
  grid-template-rows: repeat(2, 15%) auto repeat(2, 15%);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    background-color: transparent;
  }
  $core-item-list:
    1 5 list.slash(2, 5),
    2 list.slash(1, 4) 1,
    3 list.slash(4, 7) 1,
    4 list.slash(7, 10) 1,
    5 list.slash(1, 4) 2,
    6 list.slash(7, 10) 2,
    7 list.slash(1, 4) 4,
    8 list.slash(7, 10) 4,
    9 list.slash(1, 4) 5,
    10 list.slash(4, 7) 5,
    11 list.slash(7, 10) 5,
    12 4 list.slash(2, 5),
    13 6 list.slash(2, 5)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-rows: repeat(4, 9%) auto repeat(4, 9%);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
  }
}

.core-secure-enclave-m3-max {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 6%) auto repeat(6, 6%);
  grid-template-rows: repeat(3, 12%) auto repeat(3, 12%);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  $core-item-list:
    1 list.slash(1, 3) 1,
    2 list.slash(3, 5) 1,
    3 list.slash(5, 10) 1,
    4 list.slash(10, 12) 1,
    5 list.slash(12, 14) 1,
    6 list.slash(1, 5) 2,
    7 list.slash(5, 10) 2,
    8 list.slash(10, 14) 2,
    9 list.slash(1, 3) list.slash(3, 6),
    10 list.slash(12, 14) list.slash(3, 6),
    11 list.slash(3, 12) 3,
    12 list.slash(3, 12) 5,
    13 list.slash(1, 5) 6,
    14 list.slash(5, 10) 6,
    15 list.slash(10, 14) 6,
    16 list.slash(1, 3) 7,
    17 list.slash(3, 5) 7,
    18 list.slash(5, 10) 7,
    19 list.slash(10, 12) 7,
    20 list.slash(12, 14) 7
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-rows: repeat(4, 9%) auto repeat(4, 9%);
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
  }
}

.core-secure-enclave-m3-pro-2 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 14%) 9% auto 9% repeat(2, 14%);
  grid-template-rows: auto 20% auto;
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1, .core-6 {
    background-color: transparent;
  }
  $core-item-list:
    1 1 list.slash(1, 4),
    2 2 list.slash(1, 4),
    3 3 list.slash(1, 4),
    4 5 list.slash(1, 4),
    5 6 list.slash(1, 4),
    6 7 list.slash(1, 4)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-side {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    > [class*="core-side-"] {
      background-color: var(--chip-base-color);
    }
  }
}

.core-secure-enclave-m3-max-2 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 14%) 9% auto 9% repeat(2, 14%);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--border-item-width);
  > [class*="core-"] {
    background-color: var(--chip-base-color);
  }
  .core-1 {
    background-color: transparent;
  }
  $core-item-list:
    1 4 list.slash(1, 7),
    2 2 list.slash(1, 4),
    3 2 list.slash(4, 7),
    4 3 list.slash(1, 7),
    5 5 list.slash(1, 7),
    6 6 list.slash(4, 7),
    7 6 list.slash(1, 4)
  ;
  @each $item-order, $column, $row in $core-item-list {
    .core-#{$item-order} {
      grid-column: $column;
      grid-row: $row;
    }
  }
  .core-mid {
    height: 100%;
    display: grid;
    gap: var(--border-item-width);
    grid-template-rows: auto repeat(6, 8%) auto ;
    > [class*="core-mid-"] {
      background-color: var(--chip-base-color);
    }
  }
}