@use 'common';
@use 'sass:list';

.frame-a14 {
  --ratio-width: 1;
  --ratio-height: 1;
  --background: linear-gradient(to top left, #191b25, transparent, #8191b0), linear-gradient(to top right, #424b5c, transparent, #54666c), #536b6e;
  @include common.chip-component-grid() {
    gap: var(--a-border-item-width);
  }
  .chip-frame {
    background: var(--background);
    gap: var(--a-border-separator-width);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    $frame-item-list:
      1 list.slash(1, 3) list.slash(1, 3),
      2 list.slash(3, 5) list.slash(1, 3),
      3 list.slash(1, 3) list.slash(3, 5),
      4 3 3,
      5 4 3,
      6 list.slash(3, 5) 4,
    ;
    @each $item-order, $column, $row in $frame-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .top-left-grid {
    height: 100%;
    display: grid;
    gap: var(--border-separator-width);
    grid-template-rows: 33% auto 27%;
  }
  .bottom-left-grid {
    height: 100%;
    display: grid;
    gap: var(--border-separator-width);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // > [class*="item-"] {
    //   background-color: var(--chip-base-color);
    // }
    $item-list:
      1 list.slash(1, 5) 1,
      2 list.slash(1, 4) 2
    ;
    @each $item-order, $column, $row in $item-list {
      .item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .left-name {
    .text {
      font-size: 8.8cqw;
      .apple-logo {
        font-size: 0.6em;
        padding-top: 3.5cqw;
        padding-left: 44cqw;
      }
      .chip-name {
        font-weight: 500;
        font-size: 1.9em;
        padding-top: 2cqw;
        padding-left: 5cqw;
      }
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(2, 1fr);
    .core-cpu-performance-m1 {
      grid-template-columns: auto repeat(5, 2.3cqw) auto;
      grid-template-rows: auto 2.3cqw 45% 2.3cqw auto;
    }
  }
  .cpu-efficiency {
    grid-template-columns: repeat(4, 1fr);
  }
  .gpu {
    grid-template-columns: repeat(4, 1fr);
  }
  .neural-1 {
    grid-template-columns: repeat(4, 1fr);
    .core-neural-m1 {
      .core-mid {
        grid-template-columns: repeat(14, 1fr);
      }
    }
  }
  .secure-enclave-container {
    gap: var(--a-border-separator-width)!important;
    grid-template-columns: repeat(4, 1fr);
    $container-item-list:
      1 list.slash(1, 5) list.slash(1, 3),
      2 list.slash(1, 3) list.slash(3, 5),
      3 3 3,
      4 4 3,
      5 list.slash(3, 5) 4
    ;
    @each $item-order, $column, $row in $container-item-list {
      .container-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}

.frame-a15 {
  --ratio-width: 1;
  --ratio-height: 1;
  // --background: linear-gradient(to top right, #62b8e5, #5e9bde, #7c67db 45%, #da65e8, #e94e99);
  --background: linear-gradient(to bottom right, #a1f995, #219fab, #035ca0);
  --chip-base-color: #13213b;
  @include common.chip-component-grid() {
    gap: var(--a-border-item-width);
  }
  .chip-frame {
    background: var(--background);
    gap: var(--a-border-separator-width);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    $frame-item-list:
      1 list.slash(1, 3) list.slash(1, 3),
      2 list.slash(3, 5) list.slash(1, 3),
      3 list.slash(1, 3) list.slash(3, 5),
      4 3 3,
      5 4 3,
      6 list.slash(3, 5) 4,
    ;
    @each $item-order, $column, $row in $frame-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .top-left-grid {
    height: 100%;
    display: grid;
    gap: var(--border-separator-width);
    grid-template-rows: 26% auto 27%;
  }
  .bottom-left-grid {
    height: 100%;
    display: grid;
    gap: var(--border-separator-width);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // > [class*="item-"] {
    //   background-color: var(--chip-base-color);
    // }
    $item-list:
      1 list.slash(1, 5) 1,
      2 list.slash(1, 4) 2
    ;
    @each $item-order, $column, $row in $item-list {
      .item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .left-name {
    .text {
      font-size: 8.8cqw;
      padding-top: 2.7cqw;
      padding-left: 2.5cqw;
      .apple-logo {
        margin-right: 0;
      }
      .chip-name {
        font-size: 1.1em;
        letter-spacing: -0.05em;
      }
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(2, 1fr);
  }
  .cpu-efficiency {
    grid-template-columns: repeat(4, 1fr);
  }
  .gpu {
    grid-template-columns: repeat(5, 1fr);
  }
  .neural-1 {
    grid-template-columns: repeat(4, 1fr);
    .core-neural-m1 {
      .core-mid {
        grid-template-columns: repeat(14, 1fr);
      }
    }
  }
  .secure-enclave {
    .core-secure-enclave-m1-1 {
      grid-template-rows: repeat(2, 12%) repeat(3, 5%) auto repeat(3, 5%) repeat(2, 12%);
      .core-side {
        grid-template-rows: repeat(10, auto) 10% repeat(9, auto);
      }
    }
  }
  .secure-enclave-container {
    gap: var(--a-border-separator-width)!important;
    grid-template-columns: repeat(4, 1fr);
    $container-item-list:
      1 list.slash(1, 5) list.slash(1, 3),
      2 list.slash(1, 3) list.slash(3, 5),
      3 3 3,
      4 4 3,
      5 list.slash(3, 5) 4
    ;
    @each $item-order, $column, $row in $container-item-list {
      .container-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}

.frame-a16 {
  --ratio-width: 1;
  --ratio-height: 1;
  // --background: linear-gradient(to top left, #a6c5e5, #33353a);
  --background: linear-gradient(to bottom, #edb6f3, #973fcc, #47169f);
  --chip-base-color: #14012e;
  @include common.chip-component-grid() {
    gap: var(--a-border-item-width);
  }
  .chip-frame {
    background: var(--background);
    gap: var(--a-border-separator-width);
    grid-template-columns: repeat(2, 1fr) 0.74fr 1.26fr;
    grid-template-rows: 13.5% 35% 14% 10% auto;
    // > [class*="chip-item-"] {
    //   background-color: var(--chip-base-color);
    // }
    $frame-item-list:
      1 list.slash(1, 3) 1,
      2 list.slash(1, 3) list.slash(2, 4),
      3 list.slash(1, 3) list.slash(4, 6),
      4 list.slash(3, 5) list.slash(1, 3),
      5 3 3,
      6 3 4,
      7 4 list.slash(3, 5),
      8 list.slash(3, 5) 5
    ;
    @each $item-order, $column, $row in $frame-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .top-left-grid {
    height: 100%;
    display: grid;
    gap: var(--border-separator-width);
    grid-template-rows: auto 35%;
  }
  .bottom-left-grid {
    height: 100%;
    display: grid;
    gap: var(--border-separator-width);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    $item-list:
      1 list.slash(1, 5) 1,
      2 list.slash(1, 4) 2
    ;
    @each $item-order, $column, $row in $item-list {
      .item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .left-name {
    .text {
      font-size: 8.8cqw;
      padding-top: 2.7cqw;
      padding-left: 2.5cqw;
      .apple-logo {
        margin-right: 0;
      }
      .chip-name {
        font-size: 1.1em;
        letter-spacing: -0.05em;
      }
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(2, 1fr);
  }
  .cpu-efficiency {
    grid-template-columns: repeat(2, 1fr);
  }
  .gpu {
    grid-template-columns: repeat(5, 1fr);
  }
  .neural-1 {
    grid-template-columns: repeat(8, 1fr);
  }
  .secure-enclave-container {
    gap: var(--a-border-separator-width)!important;
    grid-template-columns: 60% auto;
    grid-template-rows: repeat(2, 1fr);
    $container-item-list:
      1 1 list.slash(1, 3),
      2 2 1,
      3 2 2,
    ;
    @each $item-order, $column, $row in $container-item-list {
      .container-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}

.frame-a17pro {
  --ratio-width: 1;
  --ratio-height: 1;
  --background: linear-gradient(to bottom right, #c1beb1, #756f61, #38352f);
  .chip-frame {
    background: var(--background);
    gap: var(--a-border-separator-width);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% auto repeat(2, 17%);
    // > [class*="chip-item-"] {
    //   background-color: var(--chip-base-color);
    // }
    $frame-item-list:
      1 list.slash(1, 3) 1,
      2 list.slash(3, 5) 1,
      3 list.slash(1, 3) 2,
      4 list.slash(3, 5) 2,
      5 list.slash(1, 3) list.slash(3, 5),
      6 3 3,
      7 4 3,
      8 list.slash(3, 5) 4
    ;
    @each $item-order, $column, $row in $frame-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .top-left-grid {
    height: 100%;
    display: grid;
    gap: var(--border-separator-width);
    grid-template-rows: auto 30%;
  }
  .bottom-left-grid {
    height: 100%;
    display: grid;
    gap: var(--border-separator-width);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // > [class*="item-"] {
    //   background-color: var(--chip-base-color);
    // }
    $item-list:
      1 list.slash(1, 5) 1,
      2 list.slash(1, 4) 2
    ;
    @each $item-order, $column, $row in $item-list {
      .item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .left-name {
    .text {
      font-size: 7.6cqw;
      padding-top: 4cqw;
      padding-left: 2.5cqw;
      .apple-logo {
        margin-right: 0;
      }
      .chip-name {
        font-size: 1.1em;
      }
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(2, 1fr);
  }
  .cpu-efficiency {
    grid-template-columns: repeat(4, 1fr);
  }
  .gpu {
    grid-template-columns: repeat(6, 1fr);
  }
  .gpu-2 {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--a-border-separator-thin-width)!important;
  }
  .neural-1 {
    grid-template-columns: repeat(8, 1fr);
  }
  .secure-enclave {
    .core-secure-enclave-m1-1 {
      grid-template-rows: repeat(2, 12%) repeat(3, 5%) auto repeat(3, 5%) repeat(2, 12%);
      .core-side {
        grid-template-rows: repeat(10, auto) 10% repeat(9, auto);
      }
    }
  }
  .secure-enclave-container {
    gap: var(--a-border-separator-width)!important;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    $container-item-list:
      1 list.slash(1, 5) list.slash(1, 3),
      2 list.slash(1, 3) list.slash(3, 5),
      3 3 3,
      4 4 3,
      5 list.slash(3, 5) 4
    ;
    @each $item-order, $column, $row in $container-item-list {
      .container-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}

.frame-m1 {
  --ratio-width: 1;
  --ratio-height: 1;
  --background: linear-gradient(to top right, #b6304b, rgba(160, 128, 69, 0), #3d81e4), linear-gradient(to top left, #2f289a, rgba(160, 128, 69, 0), #da7a64), rgba(160, 128, 69, 1);
  .chip-frame {
    background: var(--background);
    gap: var(--border-separator-width);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 16% 34% 20% 6% auto;
    $frame-item-list:
      1 list.slash(1, 3) 1,
      2 list.slash(1, 3) 2,
      3 list.slash(3, 5) list.slash(1, 3),
      4 list.slash(1, 3) 3,
      5 list.slash(1, 3) list.slash(4, 6),
      6 3 list.slash(3, 5),
      7 4 list.slash(3, 5),
      8 list.slash(3, 5) 5,
    ;
    @each $item-order, $column, $row in $frame-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .left-name {
    .text {
      padding-top: 2.9cqw;
      padding-left: 2.2cqw;
      font-size: 10.5cqw;
      .apple-logo {
        margin-right: 0;
      }
      .chip-name {
        font-size: 1.15em;
      }
    }
  }
  .cpu-performance, .cpu-efficiency {
    grid-template-columns: repeat(4, 1fr);
  }
  .gpu, .neural-1 {
    grid-template-columns: repeat(8, 1fr);
  }
  .neural-1 {
    gap: calc(var(--border-separator-width) / 1.5)!important
  }
  .secure-enclave-container {
    grid-template-columns: repeat(4, 1fr);
    $container-item-list:
      1 list.slash(1, 5) list.slash(1, 3),
      2 list.slash(1, 3) list.slash(3, 5),
      3 3 3,
      4 4 3,
      5 list.slash(3, 5) 4
    ;
    @each $item-order, $column, $row in $container-item-list {
      .container-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
}

.frame-m1pro {
  --ratio-width: 1.42;
  --ratio-height: 1;
  --background: linear-gradient(to top left, #429df8, rgba(74, 189, 243, 0), #89dbf3), linear-gradient(to top right, #cfe9ef, rgba(74, 189, 243, 0), #3663ec), rgba(74, 189, 243, 1);
  background: var(--background);
  .chip-frame {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 14% 35% 7% repeat(2, auto);
    gap: var(--border-separator-width);
    $frame-item-list:
      1 list.slash(1, 3) 1,
      2 list.slash(1, 3) 2,
      3 list.slash(1, 3) 3,
      4 list.slash(3, 5) list.slash(1, 4),
      5 1 list.slash(4, 6),
      6 list.slash(2, 4) list.slash(4, 6),
      7 4 4,
      8 4 5,
      9 5 list.slash(3,6),
      10 5 list.slash(1, 3),
    ;
    @each $item-order, $column, $row in $frame-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
    .chip-item-10 {
      display: grid;
      grid-template-rows: repeat(3, auto);
      gap: var(--border-separator-width);
    }
  }
  .left-name {
    .text {
      padding-top: 2.8cqw;
      padding-left: 2.4cqw;
      font-size: 6.3cqw;
      bottom: 0;
      .apple-logo {
        margin-right: 0.7cqw;
      }
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .cpu-efficiency {
    grid-template-columns: repeat(2, auto);
  }
  
  .gpu {
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--border-separator-width);
  }
  .neural-1 {
    grid-template-columns: repeat(8, auto);
  }
  .neural-2 {
    grid-template-columns: repeat(2, auto);
  }
  .bottom-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--border-separator-width);
    .bottom-2-item {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      gap: var(--border-item-width);
    }
  }
  .media-3 {
    .core-media-m2-pro-3 {
      grid-template-rows: 17% auto 17%;
      .core-mid {
        grid-template-rows: repeat(2, 14%) repeat(6, auto) repeat(2, 14%);
      }
    }
  }
}

.frame-m2max, .frame-m1max {
  --ratio-width: 0.92;
  --ratio-height: 1;
  --background: linear-gradient(to top right, #d8b5ef, rgba(148, 94, 250, 0), #3e02f0), linear-gradient(to top left, #6b28f1, rgba(148, 94, 250, 0), #a170ee), rgba(148, 94, 250, 1);
  background: var(--background);
}
.frame-item-m1-max {
  height: 100%;
  .chip-frame {
    gap: var(--border-separator-width);
    grid-template-columns: repeat(4, 20%) auto;
    grid-template-rows: 9.8% 22.6% 4% 12.4% 12.4% auto 4% 26cqw;
    $frame-item-list:
      1 list.slash(1, 3) 1,
      2 list.slash(1, 3) 2,
      3 list.slash(1, 3) 3,
      4 1 list.slash(4, 6),
      5 2 4,
      6 2 5,
      7 list.slash(1, 3) list.slash(6, 8),
      8 list.slash(3, 5) list.slash(1, 8),
      9 list.slash(3, 5) 7,
      10 5 list.slash(1, 9),
      11 list.slash(1, 5) 8,
    ;
    @each $item-order, $column, $row in $frame-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
    .chip-item-10 {
      display: grid;
      grid-template-rows: repeat(2, 10.5%) auto repeat(2, 11%) 48%;
      gap: var(--border-separator-width);
    }
  }
  // Chip grid
  .left-name {
    .text {
      font-size: 6.7cqw;
      padding-left: 2.5cqw;
      padding-top: 3cqw;
      .apple-logo {
        margin-right: 0.7cqw;
      }
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(4, 1fr);
  }
  .cpu-efficiency {
    grid-template-columns: repeat(2, auto);
  }
  .gpu {
    grid-template-columns: repeat(8, auto);
  }
  .gpu-landscape {
    grid-template-columns: repeat(2, auto);
  }
  .neural-1 {
    grid-template-columns: repeat(16, auto);
  }
  .neural-2 {
    grid-template-columns: repeat(2, auto);
  }
  .bottom-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--border-separator-width);
    .bottom-2-item {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      gap: var(--border-item-width);
    }
  }
  .bottom-3 {
    grid-template-columns: repeat(6, 1fr);
    gap: var(--border-item-width)!important;
  }
  .media-3 {
    .core-media-m2-pro-3 {
      grid-template-rows: 17% auto 17%;
      .core-mid {
        grid-template-rows: repeat(2, 14%) repeat(6, auto) repeat(2, 14%);
      }
    }
  }
}

.frame-m1ultra {
  --ratio-width: 0.43;
  --ratio-height: 1;
  --background: linear-gradient(to top left, #f2c8af, rgba(158, 158, 180, 0), #a39cd0), linear-gradient(to top right, #e299ab, rgba(158, 158, 180, 0), #bdced3), rgba(158, 158, 180, 1);
  background: var(--background);
  .ultra-chip-frame {
    gap: var(--border-separator-width);
    grid-template-rows: auto 5% auto;
    grid-template-columns: auto;
    .chip-main-reverse {
      transform: rotate(180deg);
    }
    .left-name {
      .text {
        font-size: 6.7cqw;
        padding-top: 2cqw;
        padding-left: 2.8cqw;
        .apple-logo {
          margin-right: 0.7cqw;
        }
      }
    }
    .frame-item-m1-max {
      .chip-frame {
        padding: 0;
        grid-template-rows: 6% 24.5% 5.5% 12.4% 12.4% auto 4% 26cqw;
        .chip-item-2 {
          grid-row: 1/3;
        }
      }
    }
  }
}

.frame-m2 {
  --ratio-width: 1.11;
  --ratio-height: 1;
  --background: linear-gradient(135deg, rgba(253,183,46,1) 0%, rgba(247,125,71,1) 25%, rgba(210,60,48,1) 50%, rgba(166,0,157,1) 75%, rgba(113,1,154,1) 100%);
  .chip-frame {
    background: var(--background);
    gap: var(--border-separator-width);
    grid-template-columns: 45% auto;
    grid-template-rows: 16% 30% auto repeat(5, 7%);
    $core-item-list:
      1 1 1,
      2 1 list.slash(2, 4),
      3 1 list.slash(4, 6),
      4 1 list.slash(6, 8),
      5 1 8,
      6 2 list.slash(1, 3),
      7 2 list.slash(3, 5),
      8 2 list.slash(5, 9)
    ;
    @each $item-order, $column, $row in $core-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
    .chip-item-7 {
      display: flex;
      gap: var(--border-separator-width);
      .item-a-1 {
        flex: 1.25;
      }
      .item-a-2 {
        flex: 1;
      }
      .item-a-3 {
        flex: 1;
      }
      .item-a-4 {
        flex: 0 0 23%;
      }
    }
    .chip-item-8 {
      display: flex;
      gap: var(--border-separator-width);
      .item-a-left {
        flex: 1;
      }
      .item-a-right {
        flex: 0 0 23%
      }
    }
  }
  .left-name {
    .text {
      padding-top: 2.3cqw;
      padding-left: 2.2cqw;
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(4, 1fr);
  }
  .cpu-efficiency {
    grid-template-columns: repeat(2, auto);
  }
  .neural-1 {
    grid-template-columns: repeat(8, auto);
  }
  .bottom-1 {
    grid-template-columns: repeat(2, auto);
  }
  .gpu {
    grid-template-columns: repeat(10, 1fr);
  }
  .neural-2 {
    grid-template-columns: repeat(8, 1fr);
  }
  .bottom-2 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--border-item-width);
  }
}

.frame-m2pro {
  --ratio-width: 1.42;
  --ratio-height: 1;
  --background: linear-gradient(to top left, #429df8, rgba(74, 189, 243, 0), #89dbf3), linear-gradient(to top right, #cfe9ef, rgba(74, 189, 243, 0), #3663ec), rgba(74, 189, 243, 1);
  background: var(--background);
  .chip-frame {
    gap: var(--border-separator-width);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 14% 28% 14% repeat(2, auto);
    $core-item-list:
      1 list.slash(1, 3) 1,
      2 list.slash(1, 3) 2,
      3 list.slash(1, 3) 3,
      4 list.slash(3, 6) list.slash(1, 4),
      5 1 list.slash(4, 6),
      6 list.slash(2, 4) list.slash(4, 6),
      7 4 4,
      8 4 5,
      9 5 list.slash(4, 6)
    ;
    @each $item-order, $column, $row in $core-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .left-name {
    .text {
      font-size: 6.3cqw;
      padding-top: 2.6cqw;
      padding-left: 2.8cqw;
      .apple-logo {
        margin-right: 0.7cqw;
      }
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .cpu-efficiency {
    grid-template-columns: repeat(2, auto);
  }
  
  .gpu {
    grid-template-columns: repeat(10, auto) 25.3%;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--border-separator-width);
    @include common.media(ipadpro11-portrait) {
      grid-template-columns: repeat(10, auto) 25.5%;
    }
    @include common.media(ipadpro11-portrait) {
      grid-template-columns: repeat(10, auto) 25.2%;
    }
    @include common.media(iphone12promax) {
      grid-template-columns: repeat(10, auto) 25.3%;
    }
    @include common.media(iphone12mini) {
      grid-template-columns: repeat(10, auto) 25.5%;
    }
    @for $i from 0 through 9 {
      .main-core-#{$i} {
        grid-row: 1/3;
      }
    }
    @for $i from 10 through 18 {
      .main-core-#{$i} {
        grid-row: 3/5;
      }
    }
    .core-media-1 {
      grid-column: 11;
      grid-row: 1;
    }
    .core-media-2 {
      grid-column: 11;
      grid-row: 2;
    }
    .core-media-3 {
      grid-column: 10/12;
      grid-row: 3/5;
    }
  }
  .neural-1 {
    grid-template-columns: repeat(8, auto);
  }
  .neural-2 {
    grid-template-columns: repeat(2, auto);
  }
  .bottom-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--border-separator-width);
    .bottom-2-item {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      gap: var(--border-item-width);
    }
  }
}

.frame-item-m2-max {
  height: 100%;
  .chip-frame {
    gap: var(--border-separator-width);
    grid-template-columns: repeat(4, 20%) auto;
    grid-template-rows: 9.8% 19% 7.6% 12.4% 12.4% auto 4% 26cqw;
    $core-item-list:
      1 list.slash(1, 3) 1,
      2 list.slash(1, 3) 2,
      3 list.slash(1, 3) 3,
      4 1 list.slash(4, 6),
      5 2 4,
      6 2 5,
      7 list.slash(1, 3) list.slash(6, 8),
      8 list.slash(3, 5) list.slash(1, 7),
      9 list.slash(3, 5) 7,
      10 5 list.slash(1, 8),
      11 list.slash(1, 5) 8,
      12 5 8
    ;
    @each $item-order, $column, $row in $core-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
    .chip-item-10 {
      display: grid;
      grid-template-rows: 14% 14% auto 12% 12% 26cqw;
      gap: var(--border-separator-width);
    }
  }
  // Chip grid
  .left-name {
    .text {
      font-size: 6.7cqw;
      padding-top: 3cqw;
      padding-left: 2.5cqw;
      .apple-logo {
        margin-right: 0.7cqw;
      }
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(4, 1fr);
  }
  .cpu-efficiency {
    grid-template-columns: repeat(2, auto);
  }
  .gpu {
    grid-template-columns: repeat(9, auto);
  }
  .gpu-landscape {
    grid-template-columns: repeat(2, auto);
  }
  .neural-1 {
    grid-template-columns: repeat(16, auto);
  }
  .neural-2 {
    grid-template-columns: repeat(2, auto);
  }
  .bottom-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--border-separator-width);
    .bottom-2-item {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      gap: var(--border-item-width);
    }
  }
  .bottom-3 {
    grid-template-columns: repeat(6, 1fr);
    gap: var(--border-item-width)!important;
  }
  .media-3 {
    .core-media-m2-pro-3 {
      grid-template-rows: 17% auto 17%;
      .core-mid {
        grid-template-rows: repeat(2, 14%) repeat(6, auto) repeat(2, 14%);
      }
    }
  }
}

.frame-m2ultra {
  --ratio-width: 0.43;
  --ratio-height: 1;
  --background: linear-gradient(50deg, #f0c68a 20%, #da70a0 40%, #9360d7 65%, #71c1fe 80%);
  background: var(--background);
  .ultra-chip-frame {
    gap: var(--border-separator-width);
    grid-template-rows: auto 5% auto;
    grid-template-columns: auto;
    .chip-main-reverse {
      transform: rotate(180deg);
    }
    .left-name {
      .text {
        font-size: 6.7cqw;
        padding-top: 2cqw;
        padding-left: 2.8cqw;
        .apple-logo {
          margin-right: 0.7cqw;
        }
      }
    }
    .frame-item-m2-max {
      .chip-frame {
        padding: 0;
        grid-template-rows: 6% 19% 11% 12.4% 12.4% auto 4% 26cqw;
        .chip-item-2 {
          grid-row: 1/3;
        }
        .cpu-efficiency {
          grid-template-rows: auto 40%;
        }
      }
    }
  }
}

.frame-m3 {
  --ratio-width: 1.19;
  --ratio-height: 1;
  --background: linear-gradient(to top right, #97cec2, #7db1ba 70%, #5885ae);
  .chip-frame {
    background: var(--background);
    gap: var(--border-separator-width);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 16% 33% 20% repeat(2, auto);
    $frame-item-list:
      1 list.slash(1, 3) 1,
      2 list.slash(3, 6) 1,
      3 list.slash(1, 6) 2,
      4 list.slash(1, 3) 3,
      5 3 3,
      6 4 3,
      7 5 list.slash(3, 5),
      8 list.slash(1, 3) list.slash(4, 6),
      9 3 list.slash(4, 6),
      10 4 4,
      11 4 5,
      12 5 5
    ;
    @each $item-order, $column, $row in $frame-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .left-name {
    .text {
      font-size: 8.8cqw;
      padding-top: 2.7cqw;
      padding-left: 2.4cqw;
      .apple-logo {
        margin-right: 0;
      }
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(4, 1fr);
    .core-cpu-performance-m2 {
      grid-template-columns: 16% repeat(7, auto) 16%;
      grid-template-rows: 7% repeat(2, 4%) 2% auto 2% repeat(2, 4%) 7%;
    }
  }
  .cpu-efficiency {
    .core-cpu-efficiency-m2 {
      grid-template-rows: repeat(7, auto);
    }
  }
  .neural-1 {
    grid-template-columns: repeat(8, 1fr);
  }
  .neural-2 {
    grid-template-columns: repeat(6, 1fr);
  }
  .gpu {
    grid-template-columns: repeat(5, 1fr);
  }
  .media-1 {
    .core-media-m2-1 {
      grid-template-columns: 17% repeat(2, 9%) auto repeat(2, 9%) 17%;
      grid-template-rows: auto 7% repeat(2, auto) 7% auto;
    }
  }
  .bottom-2 {
    gap: var(--border-item-width)!important;
    .core-bottom-m2-2 {
      grid-template-columns: repeat(5, auto);
    }
  }
}

.frame-m3-pro {
  --ratio-width: 0.85;
  --ratio-height: 1;
  --background: linear-gradient(to top right, #6cb4f8, #4a8ff7, #2352f4);
  .chip-frame {
    background: var(--background);
    gap: var(--border-separator-width);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10% 26% repeat(3, 10%) auto;
    // > [class*="chip-item-"] {
    //   background-color: var(--chip-base-color);
    // }
    $frame-item-list:
      1 list.slash(1, 4) 1,
      2 list.slash(4, 7) 1,
      3 list.slash(1, 7) 2,
      4 list.slash(1, 4) 3,
      5 list.slash(1, 4) list.slash(4, 6),
      6 4 list.slash(3, 5),
      7 4 5,
      8 5 3,
      9 6 3,
      10 5 4,
      11 6 4,
      12 5 5,
      13 6 5,
      14 list.slash(1, 4) 6,
      15 4 6,
      16 list.slash(5, 7) 6
    ;
    @each $item-order, $column, $row in $frame-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .frame-split {
    height: 100%;
    display: grid;
    gap: var(--border-separator-width);
    grid-template-columns: repeat(2, 1fr);
  }
  .left-name {
    .text {
      font-size: 7.5cqw;
      padding-top: 3cqw;
      padding-left: 2.5cqw;
      .apple-logo {
        margin-right: 0.5cqw;
      }
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(2, 1fr);
  }
  .cpu-efficiency {
    .core-cpu-efficiency-m2 {
      grid-template-rows: repeat(7, auto);
    }
  }
  .neural-1 {
    grid-template-columns: repeat(8, 1fr);
    .core-neural-m2-pro-1 {
      grid-template-rows: 15% repeat(8, auto) 15%;
      .core-1 {
        grid-column: 1/5;
        grid-row: 1;
      }
      .core-2 {
        grid-column: 1/5;
        grid-row: 10;
      }
    }
  }
  .neural-2 {
    grid-template-columns: repeat(8, 1fr);
  }
  .gpu {
    grid-template-columns: repeat(6, 1fr);
  }
  .gpu-2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .media-1 {
    .core-media-m2-1 {
      grid-template-columns: 17% repeat(2, 9%) auto repeat(2, 9%) 17%;
      grid-template-rows: auto 7% repeat(2, auto) 7% auto;
    }
  }
  .bottom-2 {
    gap: var(--border-item-width)!important;
    .core-bottom-m2-2 {
      grid-template-columns: repeat(5, auto);
    }
  }
}

.frame-m3-max {
  --ratio-width: 0.97;
  --ratio-height: 1;
  --background: linear-gradient(to top right, #af8af7, #986df2, #7b36e9);
  background: var(--background);
}
.frame-item-m3-max {
  height: 100%;
  .chip-frame {
    gap: var(--border-separator-width);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 8% repeat(6, 8%) auto;
    // > [class*="chip-item-"] {
    //   background-color: var(--chip-base-color);
    // }
    $frame-item-list:
      1 list.slash(1, 4) 1,
      2 list.slash(4, 9) 1,
      3 list.slash(1, 4) list.slash(2, 5),
      4 list.slash(4, 9) list.slash(2, 8),
      5 list.slash(1, 4) 5,
      6 list.slash(1, 3) list.slash(6, 8),
      7 3 6,
      8 3 7,
      9 list.slash(1, 9) 8,
    ;
    @each $item-order, $column, $row in $frame-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .frame-container {
    height: 100%;
    display: grid;
    gap: var(--border-separator-width);
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(6, 1fr);
    // > [class*="frame-item-"] {
    //   background-color: var(--chip-base-color);
    // }
    $frame-container-item-list:
      1 list.slash(1, 3) list.slash(1, 4),
      2 list.slash(3, 5) list.slash(1, 4),
      3 list.slash(1, 3) list.slash(4, 7),
      4 list.slash(3, 5) list.slash(4, 7),
      5 list.slash(5, 16) list.slash(4, 7),
      6 list.slash(5, 8) list.slash(1, 3),
      7 list.slash(8, 12) 1,
      8 list.slash(8, 12) 2,
      9 list.slash(12, 16) 1,
      10 list.slash(12, 16) 2,
      11 list.slash(5, 8) 3,
      12 list.slash(8, 12) 3,
      13 list.slash(12, 16) 3
    ;
    @each $item-order, $column, $row in $frame-container-item-list {
      .frame-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .left-name {
    .text {
      font-size: 5.3cqw;
      padding-top: 2.7cqw;
      padding-left: 2.6cqw;
      .apple-logo {
        margin-right: 0.5cqw;
      }
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(4, 1fr);
  }
  .cpu-efficiency {
    grid-template-columns: repeat(2, 1fr);
    .core-cpu-efficiency-m2 {
      grid-template-rows: repeat(7, auto);
    }
  }
  .neural-1 {
    grid-template-columns: repeat(11, 1fr);
    .core-neural-m2-pro-1 {
      grid-template-rows: 10% repeat(8, auto) 10%;
      .core-1 {
        grid-column: 1/5;
        grid-row: 1;
      }
      .core-2 {
        grid-column: 1/5;
        grid-row: 10;
      }
    }
  }
  .neural-2 {
    grid-template-columns: repeat(8, 1fr);
    .core-neural-m3-pro-2 {
      grid-template-columns: 30% auto 30%;
    }
  }
  .gpu {
    grid-template-columns: repeat(8, 1fr);
  }
  .gpu-2 {
    grid-template-columns: repeat(5, 1fr);
  }
  .media {
    .core-media-m2-pro-3 {
      grid-template-rows: 17% auto 17%;
      .core-mid {
        grid-template-rows: repeat(2, 14%) repeat(6, auto) repeat(2, 14%);
      }
    }
  }
  .bottom-2 {
    gap: var(--border-item-width)!important;
    .core-bottom-m2-2 {
      grid-template-columns: repeat(5, auto);
    }
  }
}

.frame-m4 {
  --ratio-width: 1;
  --ratio-height: 1;
  --background: linear-gradient(to top right, #cdd68d, #7cc3da, #4e8cdb, #2c1e9d, #360660);
  .chip-frame {
    background: var(--background);
    gap: var(--border-separator-width);
    grid-template-columns: repeat(2, 0.9fr) repeat(2, 1.1fr);
    grid-template-rows: 15% auto 13% 10% 4% 15% 5%;
    // > [class*="chip-item-"] {
    //   flex: 1;
    //   background-color: var(--chip-base-color);
    // }
    $core-item-list:
      1 list.slash(1, 3) 1,
      2 list.slash(1, 3) list.slash(2, 4),
      3 list.slash(3, 5) list.slash(1, 3),
      4 list.slash(3, 5) 3,
      5 list.slash(1, 3) list.slash(4, 6),
      6 list.slash(1, 3) 6,
      7 list.slash(1, 3) 7,
      8 3 4,
      9 3 list.slash(5, 7),
      10 3 7,
      11 4 list.slash(4, 8)
    ;
    @each $item-order, $column, $row in $core-item-list {
      .chip-item-#{$item-order} {
        grid-column: $column;
        grid-row: $row;
      }
    }
  }
  .left-name {
    .text {
      padding-top: 2.5cqw;
      padding-left: 2.2cqw;
    }
  }
  .cpu-performance {
    grid-template-columns: repeat(4, 1fr);
  }
  .cpu-efficiency {
    grid-template-columns: repeat(3, auto);
  }
  .neural-1 {
    grid-template-columns: repeat(8, auto);
  }
  .bottom-1 {
    grid-template-columns: repeat(2, auto);
  }
  .gpu {
    grid-template-columns: repeat(5, 1fr);
  }
  .gpu-2 {
    gap: var(--border-item-width)!important;
    grid-template-columns: repeat(4, 1fr);
  }
  .neural-2 {
    grid-template-columns: repeat(8, 1fr);
  }
  .bottom-2 {
    gap: var(--border-item-width)!important;
  }
  .media-container {
    gap: var(--border-separator-width)!important;
    grid-template-columns: repeat(3, 1fr);
  }
  .secure-enclave-container {
    gap: var(--border-separator-width)!important;
    grid-template-columns: repeat(2, 1fr);
  }
}