@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-Ultralight.otf);
  font-weight: 100;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-Thin.otf);
  font-weight: 200;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-Semibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-Heavy.otf);
  font-weight: 800;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-Black.otf);
  font-weight: 900;
}

@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-UltralightItalic.otf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-ThinItalic.otf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-RegularItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-SemiboldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-HeavyItalic.otf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: SFPro;
  src: url(/Font/SF-Pro-Display-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}